;:root{
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
    font-family: 'Red Hat Display', sans-serif;
    background-color: var(--Pale-blue);
    font-size: 1.6rem;
   
    
}

.general{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.card{          
    background-color: var(--Very-pale-blue);
    width: 450px;    
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 10px 10px 10px rgba(153, 153, 153, 0.315);

    &-img{
        width: 100%;
    }
  

    &-body{
        display: flex;
        flex-direction: column;  
        align-items: center;  
        
        p{            
            margin: 0 5rem;
            text-align: center;
        }
    
    }

    &-medium{
        background-color: var(--Pale-blue);
        
        margin: 2rem 5rem;       
        display: flex;
        justify-content: space-around; 
        align-items: center; 
        

        p{
            flex-grow: 1;
        }
        a{
             padding: 10px;
            
        }

       
              
    }

    &-boton{
        display: flex;        
        flex-direction: column;
        

        
        a{
            padding: 10px;
            margin: 0.3rem 5rem;
            text-decoration: none;            
            border-radius: 10px;                    
            text-align: center;
        }

        a:hover{
            background: var(--Desaturated-blue);
        }

        
        &-blue{          
            background-color: var(--Bright-blue);
            color: white;
           
        }
        &-white{ 
            color: black;
        }
        
    }

        
} 
@media (max-width: 480px) {

    body{
        font-size: 1.1rem;
    }
    
    .card{
        width: 330px;
        
       
        
        
    }
    
}